
<launch>
  <arg name = "config_name" default = "complex_robot"/>
  <arg name = "map_name" default = "rooms"/>
  
  <node pkg="stage_ros" type="stageros" name="stage_ros" args = "$(find simstage_group7)/worlds/$(arg map_name).world"/>
  
  <node pkg="simstage_group7" type="reactive_navigation.py" name="reactive_controller_py" output="screen" cwd="node">
    <rosparam file="$(find simstage_group7)/config/$(arg config_name).yaml" command="load"/>
  </node>
</launch>

